@using Course_Project.Service.DTOs.Users;
@model UserForCreationDto

@{
    ViewData["Title"] = "Add a new User";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        
        <div class="row">
            <div class="col-md-8 offset-2">
                <p>
                    <h1>Add a new user</h1>
                </p>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function (){
            var output = document.getElementById
        }
    </script>
}