@using Course_Project.Service.DTOs.Users;
@model UserForUpdateDto;


@{
    ViewData["Title"] = "Delete User";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete Confirmation for  @Model.UserName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <p>
                    <h1>Delete User Info</h1>
                </p>
                @*<form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <form asp-action="Delete" method="post">
                            <input type ="hidden" asp-for="Id" />
                            <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                        </form>
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
   @*             </form>*@
            </div>
        </div>
    </div>
</div>